:root {
    /* VARIABLES HERE */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7f9796;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
